<div class="container-cards">
  <% @flats.each do |flat| %>

    <div class="card flat-card">
      <div class="flat-card-picture" style="background-image: url(<%= flat.picture %>)">
      </div>

      <div class="flat-infos">
        <h3><%= flat.name %></h3>
        <p><%= flat.address %></p>

        <div class="flat-size-infos">
          <span class="size-infos" ><i class="fa-solid fa-people-group"></i><%= flat.number_of_guests %></span>
          <span class="size-infos"><i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %></span>
        </div>
      </div>

      <div class="flat-footer">
        <%= link_to "See details", flat_path(flat) %>
        <%= link_to "Edit", edit_flat_path(flat) %>
        <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Supprimer ce fat appart???"}  %>
      </div>
    </div>

  <% end %>
</div>
